In [2]:
import pandas as pd

In [19]:
df = pd.read_csv('./csv/expert.csv',index_col=0)
df.head()

,姓名,英文/拼音,性别,国籍,机构名称,专业背景,类别,合作内容,职务
序号,,,,,,,,,
5,马翔,Xiang Ma,男,中国,工信部,工业设计,政府,NaN,工信部工业文化发展中心副主任
16,吴剑,Jian Wu,男,中国,中国工业设计协会,工业设计,企业,NaN,海尔集团创新设计中心总经理\n中国工业设计协会副会长
17,李琦,Qi Li,男,中国,杭州瑞德设计股份有限公司,工业设计,企业,2019初评评委,杭州瑞德设计股份有限公司董事长\nChief Manager of 1925
18,雷海波,Haibo Lei,男,中国,太火鸟科技,工业设计,企业,NaN,太火鸟科技创始人、CEO
19,丁伟,Wei Ding,男,中国,木马设计,工业设计,企业,NaN,木马设计公司创始人\n华东理工大学艺术设计与传媒学院副院长

In [10]:
ser1 = df.groupby(["国籍"]).count()['姓名']

In [11]:
ser1.to_json('./csv/expert/aa.json')

In [20]:
df.to_json('../vis/src/data/expert.json',orient = "records", date_format = "epoch", double_precision = 10, force_ascii = True, date_unit = "ms", default_handler = None)

In [18]:
df.groupby('性别').count()

     姓名  英文/拼音   国籍   英文  机构名称  专业背景   类别  合作内容   职务
性别
/    40     14   40   37     0     0   40     1   40
女    55     20   55   50     1     3   55    17   55
男   224     76  224  166    29    25  224    76  223

In [21]:
df = pd.read_csv('./csv/cate-year.csv')
df.head()

    四大类    年份    数量
0  产业装备  2016   426
1  生活智慧  2016  1318
2  数字经济  2016   120
3  文化创新  2016   193
4  产业装备  2017  1621

In [26]:
a=[]

for index,row in df.iterrows():
  a.append({
    'source':row[0],
    'target':row[1],
    'value':row[2]
  })

In [28]:
import json

In [31]:
b= json.dumps(a)
f2 = open('new_json.json', 'w')
f2.write(b)
f2.close()